:root {
  --bg-color: #c1e4ad;
  --card-bg: #3f6e47;
  --text-color: #e1e1e6;
  --primary-color: hsl(120, 46%, 47%);
  --primary-hover: #62855f;
  --background: linear-gradient(135deg, #b3cfa3, #28683b);
}

body {
  background: var(--background);
  background-image: url('https://i.pinimg.com/1200x/c0/68/00/c068001cf23b662e97c82a8e8b61fdff.jpg');
  background-size: cover;
  color: var(--text-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.card-hortalicas {
  background-color: var(--card-bg);
  border-radius: 8px;
  padding: 16px;
  width: 300px;
  margin: 16px;
  text-align: center;
}

.card-hortalicas:hover {
  background-color: var(--primary-hover);
  cursor: pointer;
}

.card-imagem {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.card-titulo {
  font-size: 1.5rem;
  margin: 8px 0;
}

.card-propaganda {
  font-size: 1rem;
  color: var(--text-color);
}